.container {
  width: 100%;
  height: 810px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #011425;
  font-family: "Poppins", sans-serif;
}

.card {
  width: 380px;
  background:#1f4959;
  padding: 30px;
 
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.5);
  border: 1px solid #444;
}

.title {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #ffffff;
}


.input {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 8px;
  border: 1px solid #1f4959;
  font-size: 15px;
  background: #011425;
  color: #ffffff;
}

.button {
  width: 100%;
  padding: 12px;
  margin-top: 18px;
  background:#011425;
  color: white;
  border: 1px solid #1f4959;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  background: #555555;
}
