.container {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 40px;
  background: #011425;
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1f4959;
  color: #ffffff;
  padding: 20px 30px;
  border-radius: 12px;
  margin-bottom: 30px;
  border: 1.5px solid #333;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
}

.logout {
  background-color: #011425;
  border: 1px solid #666;
  padding: 10px 20px;
  color: #ffffff;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.logout:hover {
  background-color: #555555;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.card {
  background-color: #1f4959;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  width: 95%;
   
  border: 1px solid #444;
   
}

.card h2 {
  margin-bottom: 15px;
  color: #ffffff;
}

/* Table styling */
.tableContainer {
  max-height: 400px; /* vertical scrollbar */
  overflow-y: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  background-color: #011425;
}

.table th,
.table td {
  padding: 10px;
  border-bottom: 1px solid #444;
  text-align: left;
  color: #ffffff;
}

.table th {
  background-color: #1a1a1a;
  color: #ffffff;
  border: 1px solid #555;
}

.table tr:hover {
  background-color: #3d3d3d;
}

.button {
  padding: 5px 10px;
  border: 1px solid #666;
  background-color: #444444;
  color: #ffffff;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 5px;
}

.button:hover {
  background-color: #555555;
}
